.antlr*
.idea
.DS_Store
*.iml

.metadata/
bin/
target/
temp/
!*.dll
.project
*/.settings/org.eclipse.core.resources.prefs
*/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
